/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    margin: auto;
    padding: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
}

/* App-specific styles */
.app-container label {
    margin-bottom: 10px;
    color: black; /* Change label text color to black */
}

.app-container p {
    color: black; /* Change paragraph text color to black */
}

h1 {
    color: #007bff;
    text-align: center;
}

form {
    text-align: center;
}

label, input[type="text"], input[type="submit"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Result container styles */
.result-container h2,
.result-container h3,
.result-container p,
.result-container li {
    color: black; /* Change text color to black */
}

.result-container table {
    border-collapse: collapse;
}

.result-container thead {
    background-color: white; /* White background for thead */
}

.result-container th,
.result-container td {
    padding: 8px;
    border: 1px solid black; /* Lighter grey borders */
    text-align: left;
    color: black; /* Change column name text color to black */
    background-color: rgb(235, 235, 235); /* White background for cells */
}

.result-container th {
    background-color: #c7c7c7; /* Dark gray background */
}
