<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Accessibility Review Tool | Western Washington University</title>
    <link rel="stylesheet" href="../static/css/styles.css">


</head>
<body>
    <header>
        <wwu-pre-header></wwu-pre-header>
        <wwu-header sitename="Accessibility Review Tool" regioncontent=""></wwu-header>
    
        <wwu-main-nav>      
          <a href="/">Home</a>        
        </wwu-main-nav>
    </header>
    <main id="main-content">
  <div class="page-content">
    <div class="region-wrapper">
      
        <div class="container">
        <h1>Efficient Accessibility Review Tool (EART)</h1>
        <form action="/" method="post">
            <label for="url">Enter Website URL:</label><br>
            <input type="text" id="url" name="url"><br><br>
            <input type="submit" value="Grade">
        </form>
    </div> <!-- class "container"   -->
    </div> <!-- class region-wrapper  -->
    </div> <!-- class "page-content" -->
</main>
<footer>
    <wwu-footer></wwu-footer>
</footer>

<!-- Supply scripts here -->
  <!-- scripts for ashlar components -->
  
  <script src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/search.js"></script>
  <script src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/pre-header.js"></script>
  <script src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/logo.js"></script>
  <script src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/wwu-header.js"></script>
  <script src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/social-media-icons.js"></script>
  <script src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/wwu-footer.js"></script>

  <script src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/main-navigation.js"></script>
  <script src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/accessible-mega-menu.js"></script>
  <script src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/menu-extras.js"></script>  

</body>
</html>
