<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Efficient Accessibility Review Tool | Western Washington University</title>
    <link rel="stylesheet" href="../static/css/styles.css">

    <!-- My component script -->
    <script src="../static/js/autofill.js"></script>
    
    <!-- Ashlar components scripts -->
    <script src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/search.js"></script>
    <script src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/pre-header.js"></script>
    <script src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/logo.js"></script>
    <script src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/wwu-header.js"></script>
    <script src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/social-media-icons.js"></script>
    <script src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/wwu-footer.js"></script>
    <script src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/main-navigation.js"></script>
    <script src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/accessible-mega-menu.js"></script>
    <script src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/menu-extras.js"></script>

</head>
<body>
  
  <div class="container">

    <header>
      <wwu-pre-header></wwu-pre-header>
      <wwu-header sitename="Efficient Accessibility Review Tool" regioncontent=""></wwu-header>
      <!--
      <wwu-main-nav style="text-align: center;">
        <a href="/" style="font-size: 100px;">Home</a>        
      </wwu-main-nav>
      -->
    </header>

    <main id="main-content">
      <div class="page-content">
        <div class="region-wrapper">
          <div class="app-container">
            <h1>Efficient Accessibility Review Tool (EART)</h1>

            <h2>Welcome!</h2>

            <p>Welcome to the Efficient Accessibility Review Tool (EART). This tool is designed to help streamline the consistency of manual accessibility reviews in an institutional setting where WCAG conformance is required.
            </p>
            <p>
              Get started by entering the URL of the website you want to analyze and then click on the "Evaluate" button.
            </p> 
<br>



            <form id="urlForm" action="/" method="post" onsubmit="AutofillOnSubmit(event)">
              <!-- Ensure the label is properly included -->
              <label for="url"><h2>Website URL to evaluate:</h2>
              </label>
              <input type="text" id="url" name="url">
              <input type="submit" value="Evaluate">
            </form>

            </div> <!-- class "app-container"   -->



        </div> <!-- class region-wrapper  -->
      </div> <!-- class "page-content" -->
    </main>

    <footer>
      <wwu-footer></wwu-footer>
    </footer>

  </div>
</body>
</html>
